<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activitar | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
        <div class="container-fluid">

            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li><a href="./index">Главная</a></li>
                            <li class="active"><a href="./about-us">О нас</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg spad" data-setbg="/static/img/welcome-about.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb-text">
                        <h2>О нас</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb End -->

    <!-- Aboutus Section Begin -->
    <section class="breadcrumb-section set-bg spad" data-setbg="/static/img/about.jpg">
        <div class="container">
            <div class="aboutus-page-text">
                    <div class="row">
                        <div class="section-title">
                            <h2>Что такое яндекс.Блокнот?</h2>
                            <p>Яндекс.Блокнот – ваш личный и надежный
                                партнёр в организации <br> и сохранении ваших идей,
                                списков дел, важной информации, и всего того, <br> что
                                имеет для вас значение.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-us">
                            <h4>О нас</h4>
                            <p>Мы верим, что каждая заметка имеет свою ценность, поэтому Яндекс.Блокнот
                                предоставляет вам удобные инструменты для создания, редактирования, и организации
                                ваших записей. Независимо от того, используете ли вы приложение для обмена идеями,
                                ведения личных заметок, составления списков дел или поддержания творческого процесса,
                                мы стараемся обеспечить вас всем необходимым.</p>
                            <p>Наша цель – помочь вам быть более продуктивным и организованным, сохраняя при этом
                                лёгкость и удобство использования. Мы стремимся создать инструмент, который будет
                                вашим надёжным спутником в повседневной жизни, где бы вы ни находились.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Aboutus Section End -->

    <!-- Testimonial Section End -->
    <section class="testimonial-section set-bg spad" data-setbg="img/testimonial-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="testimonial-slider owl-carousel">
                        <div class="ts-item">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4>The “Minimal-Repair Technique” is a revolutionary surgical procedure in the treatment
                                for hernia. Initially intended for correcting inguinal hernia.</h4>
                            <div class="author-name">
                                <h5>Stacy Mc Neeley</h5>
                                <span>CEP’s Director</span>
                            </div>
                            <div class="author-pic">
                                <img src="img/author-pic.png" alt="">
                            </div>
                        </div>
                        <div class="ts-item">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4>The “Minimal-Repair Technique” is a revolutionary surgical procedure in the treatment
                                for hernia. Initially intended for correcting inguinal hernia.</h4>
                            <div class="author-name">
                                <h5>Stacy Mc Neelek</h5>
                                <span>CEP’s Director</span>
                            </div>
                            <div class="author-pic">
                                <img src="img/author-pic.png" alt="">
                            </div>
                        </div>
                        <div class="ts-item">
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <h4>The “Minimal-Repair Technique” is a revolutionary surgical procedure in the treatment
                                for hernia. Initially intended for correcting inguinal hernia.</h4>
                            <div class="author-name">
                                <h5>Stacy Mc Neelel</h5>
                                <span>CEP’s Director</span>
                            </div>
                            <div class="author-pic">
                                <img src="img/author-pic.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonial Section End -->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-logo-item">
                        <div class="f-logo">
                            <a href="#"><img src="img/logo.png" alt=""></a>
                        </div>
                        <p>Яндекс.Блокнот - это веб-приложение, обеспечивающее возможность пользователя создавать, менять, хранить и обмениваться цифровой информацией в форме заметок, списков, записей и других данных, что позволяет безопасно и удобно получать доступ к этой информации с любого устройства, подключенного к интернету.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-text">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.magnific-popup.min.js"></script>
    <script src="/static/js/mixitup.min.js"></script>
    <script src="/static/js/jquery.nice-select.min.js"></script>
    <script src="/static/js/jquery.slicknav.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/masonry.pkgd.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>