<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/chota@latest">
    <title>mindmerge - {% block title %}{% endblock %}</title>
    {% block headres %}{% endblock %}
</head>
<body>
<div id="menu">
    <a href="/" class="main">Главная</a>
    <a href="/login">Вход</a>
    <a href="/register">Регистрация</a>
    <a href="/account">Аккаунт</a>
</div>

{% block content %}{% endblock %}

</body>
</html>
