<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Забыли пароль</title>
</head>
<body>
    <center>
        <div>
            <h2>Введите новый пароль</h2>
        </div>
    </center>
    <center><form method="post">
        <input type="password" placeholder="Новый пароль" name="pass1">
        <input type="password" placeholder="Повторите пароль" name="pass2">
        <input type="submit" value="Отправить">
        <h1>{{ message }}</h1>
    </form></center>
</body>
</html>