<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Забыли пароль</title>
</head>
<body>
    <center>
        <div>
            <h2>Восстановление пароля</h2>
        </div>
    </center>
    <center><form method="post">
        <h3>Код подтверждения отправлен на почту, указанную при регистрации</h3>
        <input type="text" placeholder="Код подтверждения" name="code">
        <input type="submit" value="Отправить">
        <h1>{{ message }}</h1>
    </form></center>
</body>
</html>