{% extends 'base.html' %}

{% block title %} Главная {% endblock %}

{% block content %}

<div style="background-image: url(/static/img/main_blur.png);
    color:white; background-size: cover; background-repeat: no-repeat;
    background-position: center; background-attachment: fixed; padding: 0">
    <div class="hero-image"
         style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(/static/img/main.png)">
        <h1>Яндекс.Блокнот</h1>
        <h2>Пиши. Редактируй. Делись. Наслаждайся. </h2>
    </div>
    <div id="content">
        <div class="columns">
            <div style="width: 40vw">
                <h1 style="display: inline; font-size: 4em">Яндекс.Блокнот</h1>
            </div>
            <div style="width: 40vw">
                <p><b>Что, зачем, для кого?</b></p>
                <p>
                    Яндекс.Блокнот - ваш надежный спутник в мире заметок и идей, с встроенным искусственным интеллектом
                    GPT для помощи в написании текстов. Откройте для себя мощный инструмент для организации идей,
                    планирования задач и вдохновения!
                </p>
            </div>
        </div>
        <div class="columns">
            <div style="width:40vw">
                <form action="/" method="POST">
                    <textarea rows="10" name="text"
                              style="font-size: 1.5em;width:100%;background-color:rgba(0,0,0,0.5);color:white;caret-color:white">{{ask or ""}}</textarea>
                    <input type="submit" value="Обработать запрос"
                           style="margin-top: 2em; width:50%; margin-left: auto; margin-right: auto; display: block"/>
                </form>
                {% if answer %}
                <h2>Ответ</h2>
                {% endif %}
                <p id="answer">
                    {{answer}}
                </p>
            </div>
            <div style="width: 40vw">
                <h1 style="font-size: 3em;text-align: center">У нас есть GPT!</h1>
            </div>
        </div>
    </div>
</div>

{% if answer %}
<script> window.location.hash = "answer"; </script>
{% endif %}

{% endblock %}