<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Вход</title>
</head>
<body>
<center>
    <div>
        <h1>Вход</h1>
    </div>
</center>
<form name="form" method="post">

    <div class="form-group">
        <!-- поле ввода ника-->
        <center><input type="text" class="form-control" placeholder="Username" name="nickname" required></center>
    </div>
    <div class="form-group">
        <!-- поле ввода пароля-->
        <center><input type="password" class="form-control" placeholder="Password" name="password" required></center>
    </div>
    <!-- чекбокс запомнить меня-->
    <center><input type="checkbox" id="name_it_yourself" name="remember_me">Keep me signed in</center>
    <!-- кнопка регистрации-->
    <center><input type="submit" class="form-control" value="sign in"/></center>
    {% if message %}
    <center>
        <h1>{{ message }}</h1>
    </center>
    {% endif %}
</form>
<center>
    <div class="default_text">
        <a href="/forgot_password">Forgot password?</a>
    </div>
</center>
<center>
    <div>
        Do not have an account?
        <a href="/register" class="text-primary _600">Registration</a>
    </div>
</center>
</body>
</html>
