{% extends 'base.html' %}

{% block title %} Главная {% endblock %}

{% block content %}
<div id="content">
    <div class="columns fs">
        <div>
            <ul class="folders_and_notes">
                {% for item in list_of_folders %}
                <li><a href='{{item["url"]}}'>
                        <div class="name">
                            {{item["title"]}}
                        </div>
                        <div class="date">
                            {{item["date"]}}
                        </div>
                        <div class="price">
                            {{item["price"]}}
                        </div>
                        <div class="metro">
                            <img src="/static/img/spb_metro.svg" />{{item["subway"] if item["subway"] else "Не
                            найдено"}}
                        </div>
                    </a></li>
                {%endfor%}

            </ul>
            <input type="submit" value="Добавить папку" />
        </div>
        <div>
            <ul class="folders_and_notes">
                {% for item in list_of_notes %}
                <li><a href='{{item["url"]}}'>
                        <div class="name">
                            {{item["title"]}}
                        </div>
                        <div class="date">
                            {{item["date"]}}
                        </div>
                        <div class="price">
                            {{item["price"]}}
                        </div>
                        <div class="metro">
                            <img src="/static/img/spb_metro.svg" />{{item["subway"] if item["subway"] else "Не
                            найдено"}}
                        </div>
                    </a></li>
                {%endfor%}

            </ul>
            <input type="submit" value="Добавить заметку" />
        </div>
        <div>
            <h1 style="text-align: center">Редактирование</h1>
                <form action="/main" method="GET">
                    <p><textarea id="edit" name="edit_form" type="text" value='{{address or ""}}'></textarea></p>
                    <input type="submit" value="Сохранить" />
                </form>
        </div>
    </div>
</div>
{% endblock %}