<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Регистрация</title>
</head>
<body>
  <center><div>
    <h1>Регистрация</h1>
  </div></center>
  <form name="form" method="POST">
    <div class="form-group">
      <!-- поле ввода ника-->
      <center><input type="text" class="form-control" placeholder="Username" name="nickname" required></center>
    </div>
    <div class="form-group">
      <!-- поле ввода почты-->
      <center><input type="email" class="form-control" placeholder="Email" name="email" required></center>
    </div>
    <div class="form-group">
      <!-- поле ввода пароля-->
      <center><input type="password" class="form-control" placeholder="Password" name="pass_1" required></center>
    </div>
    <div class="form-group">
      <!-- поле ввода пароля-->
      <center><input type="password" class="form-control" placeholder="Confirmation" name="pass_2" required></center>
    </div>
    <center><div class="m-b-md text-sm">
      <span class="text-muted">By clicking Sign Up, I agree to the</span>
      <a>Terms of service</a>
      <span class="text-muted">and</span>
      <a>Policy Privacy.</a>
    </div></center>
    <!-- кнопка регистрации-->
    <center><input type="submit" class="form-control" value="register"/></center>
  </form>
  <!-- ссылка на страницу входа-->
  <center><div>Already have an account? <a href="/login">Sign in</a></div></center>
</body>
</html>
